<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="AuthCtrl as auth">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">Eric's Angular App</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="portfolio" data-toggle="collapse" data-target=".navbar-collapse.in">Portfolio</a></li>
        <li ui-sref-active="active"><a ui-sref="contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
        <li ui-sref-active="active"><a ui-sref="about" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-if="!auth.isAuthed()"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in">Sign In</a></li>
            <li ng-if="!auth.isAuthed()"><a ui-sref="signup" data-toggle="collapse" data-target=".navbar-collapse.in">Sign Up</a></li>
            <li ng-if="auth.isAuthed()"><a ui-sref="profile" data-toggle="collapse" data-target=".navbar-collapse.in">Profile</a></li>
            <li ng-if="auth.isAuthed()" role="separator" class="divider"></li>
            <li ng-if="auth.isAuthed()"><a ng-click="auth.logout()" data-toggle="collapse" data-target=".navbar-collapse.in">Sign Out</a></li>
          </ul>
        </li>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
